.story {
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($color-black, $alpha: 0.15);
  transform: skewX(-12deg);
  font-size: $default-font-size;
  background-color: rgba($color-white, 0.6);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
    padding: 4rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    border-radius: 100%;
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden;
    position: relative;

    @include respond(phone) {
      // transform: translateX(-3rem) skewX(0);
      transform: skewX(0);
      float: none;
      margin-bottom: 2rem;
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    color: $color-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
